{% load static %}
<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="shortcut icon" href="https://image.freepik.com/free-vector/corn-cobs-realistic_1284-14091.jpg" type="image/x-icon">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/chartist-bundle/chartist.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/morris-bundle/morris.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/charts/c3charts/c3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    <title> Tap2Eat - Feeding The Future</title>
</head>

<body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">| Tap2Eat</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        
                        <li class="nav-item dropdown notification">
                            <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
                                <li>
                                    <div class="notification-title"> Notification</div>
                                    <div class="notification-list">
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-action active">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-2.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jeremy Rakestraw</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-3.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">John Abraham </span>is now following you
                                                        <div class="notification-date">2 days ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-4.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Monaan Pechi</span> is watching your main repository
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="#" class="list-group-item list-group-item-action">
                                                <div class="notification-info">
                                                    <div class="notification-list-user-img"><img src="{% static 'assets/images/avatar-5.jpg' %}" alt="" class="user-avatar-md rounded-circle"></div>
                                                    <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica Caruso</span>accepted your invitation to join the team.
                                                        <div class="notification-date">2 min ago</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="list-footer"> <a href="#">View all notifications</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown connection">
                             <ul class="dropdown-menu dropdown-menu-right connection-dropdown">
                                
                                <li>
                                    <div class="conntection-footer"><a href="#">More</a></div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="https://img.icons8.com/material/96/000000/user-male-circle--v1.png" class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                               
                                {% if request.user.is_authenticated %}
                                <a class="dropdown-item" href="/accounts/logout"><i class="fas fa-power-off mr-2"></i>{{ user }} | Logout</a>
                                {% else %}
                                <a class="dropdown-item" href="/accounts/login"><i class="fas fa-power-off mr-2"></i>Login</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="d-xl-none d-lg-none" href="#">Main Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Dashboard <span class="badge badge-success">6</span></a>
                                <div id="submenu-1" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-2" aria-controls="submenu-1-2">E-Commerce</a>
                                            <div id="submenu-1-2" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="index.html">E Commerce Dashboard</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product.html">Product List</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product-single.html">Product Single</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="ecommerce-product-checkout.html">Product Checkout</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="dashboard-finance.html">Finance</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="dashboard-sales.html">Sales</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1-1" aria-controls="submenu-1-1">Infulencer</a>
                                            <div id="submenu-1-1" class="collapse submenu" style="">
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="dashboard-influencer.html">Influencer</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="influencer-finder.html">Influencer Finder</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="influencer-profile.html">Influencer Profile</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            {% if request.user.is_superuser == True %}
                            <!--Show This to SuperUser Only-->
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>System Users</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="http://0.0.0.0:8080/admin/auth/user/add/">Create User <span class="badge badge-secondary">New</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="http://0.0.0.0:8080/admin/auth/user/">Current Users</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="http://0.0.0.0:8000/admin/auth/user/">Delete Users</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        <!--End Restriction Here-->
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Daily Reports</a>
                                <div id="submenu-3" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-c3.html">C3 Charts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-chartist.html">Chartist Charts</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-charts.html">Chart</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-morris.html">Morris</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-sparkline.html">Sparkline</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/chart-gauge.html">Guage</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-4" aria-controls="submenu-4"><i class="fab fa-fw fa-wpforms"></i>Weekly Reports</a>
                                <div id="submenu-4" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/form-elements.html">Form Elements</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/form-validation.html">Parsely Validations</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/multiselect.html">Multiselect</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/datepicker.html">Date Picker</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/bootstrap-select.html">Bootstrap Select</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Monthly Reports</a>
                                <div id="submenu-5" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/general-table.html">General Tables</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="pages/data-tables.html">Data Tables</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            
                            
                            
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">Analytics</h2>
                                <p class="pageheader-text">Feeding the Future</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Tap2Eat</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="ecommerce-widget">
                        {% for todo in data %}
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Total Taps</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">{{ todo.totalTaps }}</h1>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Total Students</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">{{ todo.totalStudents }}</h1>
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">New Registrations</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">{{ todo.registeredStudents }}</h1>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="text-muted">Tags Replaced</h5>
                                        <div class="metric-value d-inline-block">
                                            <h1 class="mb-1">{{ todo.totalTaps }}</h1>
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- ============================================================== -->
                      
                            <!-- ============================================================== -->

                                          <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-13 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Recent Payments</h5>
                                    
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table id="tblCustomers" class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        
                                                        <th class="border-0">Receipt No</th>
                                                        <th class="border-0">Mobile No</th>
                                                        <th class="border-0">Name</th>
                                                        <th class="border-0">Amount</th>
                                                        <th class="border-0">Date</th>
                                                        
                                                        <th class="border-0">Status</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr>
                                                        <td>1</td>
                                                        
                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>

                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                       
                                                         <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        
                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        
                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        
                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        
                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        
                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        
                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        
                                                        <td>OLU44MGOH6</td>
                                                        <td>0797584194</td>
                                                        <td>Paul Kiragu Wababu</td>
                                                        <td>Ksh. 80.00</td>
                                                        <td>27-08-2018 01:22:12</td>
                                                        
                                                        <td><span class="badge-dot badge-success mr-1"></span>Paid </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="9"><input type="button" class="btn btn-outline-light float-right" id="btnExport" value="Export to PDF" onclick="Export()" /></td>
                                                    </tr>
                                                    <!--Srcipt for Exporting PDF-->
                                                    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        function Export() {
            html2canvas(document.getElementById('tblCustomers'), {
                onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("Table.pdf");
                }
            });
        }
    </script>
                                                    <!--End PDF Export Script-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ============================================================== -->
                            <!-- end recent orders  -->

    
                            <!-- ============================================================== -->
                            <!-- ============================================================== -->
                            <!-- customer acquistion  -->
                            <!-- ============================================================== -->
                            
                            <!-- ============================================================== -->
                            <!-- end customer acquistion  -->
                            <!-- ============================================================== -->
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            © 2020 <a href="https://github.com/paulwababu">Food4Education</a> - Feeding The Future.
                        </div>
                         <!-- https://github.com/paulwababu -->
                         <!-- alienXconnections -->
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="https://food4education.org/#our-solution">About</a>
                                <a href="https://food4education.org/#get-involved">Support</a>
                                <a href="https://food4education.org/contact/">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->
    <!-- Optional JavaScript -->
    <!-- jquery 3.3.1 -->
    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <!-- bootstap bundle js -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <!-- slimscroll js -->
    <script src="{% static 'assets/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <!-- main js -->
    <script src="{% static 'assets/libs/js/main-js.js' %}"></script>
    <!-- chart chartist js -->
    <script src="{% static 'assets/vendor/charts/chartist-bundle/chartist.min.js' %}"></script>
    <!-- sparkline js -->
    <script src="{% static 'assets/vendor/charts/sparkline/jquery.sparkline.js' %}"></script>
    <!-- morris js -->
    <script src="{% static 'assets/vendor/charts/morris-bundle/raphael.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/morris-bundle/morris.js' %}"></script>
    <!-- chart c3 js -->
    <script src="{% static 'assets/vendor/charts/c3charts/c3.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/d3-5.4.0.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/c3charts/C3chartjs.js' %}"></script>
     <script src="{% static 'assets/libs/js/dashboard-ecommerce.js' %}"></script> 
</body>
 
</html>